/* Main Page */
h1 {
  text-align: center;
}
h2 {
  margin-top: 40px;
}
.username {
  font-weight: bold;
}
strong {
  color: blue;
  font-style: normal;
}
img.coffee {
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: right;
}
.titles {
  text-align: center;
}
a {
  justify-content: center;
  margin: auto;
}
.photo,
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* About me */
video {
  width: 400px;
}

/* Products */
table,
td,
th {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 8px;
}
