/* Main Page */

h1 {
  text-align: center;
}
h2 {
  margin-top: 40px;
}
.username {
  font-weight: bold;
}
strong {
  color: blue;
  font-style: normal;
}
img.coffee {
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: right;
}
.titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a {
  justify-content: center;
  margin: auto;
}
.photo,
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* About me */

video {
  width: 400px;
}

/* Products */
table,
td,
th {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 8px;
}

/* Contact */

article :first-of-type {
  font-size: 140%;
  font-style: italic;
}

article :last-of-type {
  font-weight: bold;
}

/* Template */

/* ul li:nth-child(odd) {
  font-weight: bold;
  color: blueviolet;
}

ul li:nth-child(even) {
  font-style: italic;
  color: blue;
} */

a:visited,
a:link {
  color: grey;
}
a:hover,
a:focus {
  color: black;
}

p::first-letter {
  font-size: 140%;
}
p::first-line {
  font-weight: bold;
}
::selection {
  background-color: yellow;
}
